<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- packagingDatabase bez lomítka -> přidej lomítko -->
        <rule name="db-slash" stopProcessing="true">
          <match url="^packagingDatabase$" />
          <action type="Redirect" url="/packagingDatabase/" redirectType="Found" />
        </rule>
        <!-- packagingDatabase -> Node na :3100, předponu zahoď -->
        <rule name="db-proxy" stopProcessing="true">
          <match url="^packagingDatabase/(.*)" />
          <action type="Rewrite" url="http://localhost:3100/{R:1}" />
        </rule>
        <!-- packagingForecast bez lomítka -> přidej lomítko -->
        <rule name="fc-slash" stopProcessing="true">
          <match url="^packagingForecast$" />
          <action type="Redirect" url="/packagingForecast/" redirectType="Found" />
        </rule>
        <!-- packagingForecast -> Node na :3000, předponu zahoď -->
        <rule name="fc-proxy" stopProcessing="true">
          <match url="^packagingForecast/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>
        <!-- outboundPnz bez lomítka -> přidej lomítko -->
        <rule name="pnz-slash" stopProcessing="true">
          <match url="^outboundPnz$" />
          <action type="Redirect" url="/outboundPnz/" redirectType="Found" />
        </rule>
        <!-- outboundPnz -> Node na :3200, předponu zahoď -->
        <rule name="pnz-proxy" stopProcessing="true">
          <match url="^outboundPnz/(.*)" />
          <action type="Rewrite" url="http://localhost:3200/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>