<?xml version="1.0" encoding="utf-8"?>
<!--
  Tento soubor musí ležet v kořeni shared-api, vedle server.js.
  Nasazuje se jako SAMOSTATNÁ IIS aplikace/site (jiný port než
  pck_forecast), stejným způsobem jako dosud běžel pck_forecast.
-->
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="AllToNode">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" watchedFiles="*.js;iisnode.yml" loggingEnabled="true" logDirectory="iisnode-log" />

  </system.webServer>
</configuration>
